/* p {
  font-size: 30px;
  font-weight: 600;
}
img {
  width: 150px;
} */
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.addFoodForm {
  width: 80%;
  margin: 10px 10%;
}

label {
  font-size: 15px;
  font-weight: 600;
  margin: 5px;
}

.search {
  width: 80%;
  margin: 10px 10%;
}

.btn {
  margin: 20px 10%;
}

.emptyContainer {
  text-align: center;
  display: block;
}
.emptyContainer img {
  width: 50%;
}
