/* p {
  font-size: 30px;
  font-weight: 600;
}
img {
  width: 150px;
} */
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
}

.addFoodForm {
  width: 80%;
  margin: 10px 10%;
}

.search {
  width: 80%;
  margin: 10px 10%;
}

.btn {
  margin: 10px 10%;
}
